/* basic reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: -webkit-linear-gradient( #0e9889, #1aabe1 ) center center no-repeat fixed;
    background: linear-gradient( #0e9889, #1aabe1 ) center center no-repeat fixed;
}

.container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}

.calc-body {
    margin: 20px auto;
    width: 400px;
    background: #f2f2f2;
    border: 5px solid #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 25px 4px #000;
}

.calc-display {
    width: 100%;
    height: 100px;
    margin-bottom: 4px;
    padding: 28px 10px;
    background-color: #000;
    font-size: 40px;
    text-align: right;
    color: #fff;
    border-radius: 2px;
}

.btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.btn-clear,
.btn.calc-functions,
.btn.calc-numbers {
    cursor: pointer;
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.15s linear;
    border: 1px solid #333;
    border-radius: 2px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

.btn {
    margin: 2px;
}

.btn:nth-child(4n+1) {
    margin: 2px 2px 2px 0;
}

.btn:nth-child(4n+0) {
    margin: 2px 0 2px 2px;
}

.btn {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 24%;
    flex: 1 0 24%;
    text-align: center;
    font-size: 36px;
    padding: 26px;
}

.btn-clear {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    text-align: center;
    font-size: 36px;
    padding: 26px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    width: 94px;
    color: #000;
    background-color: #a1d0ce;
}

.btn.calc-functions {
    color: #000;
    background-color: #a1d0ce;
}

.btn.calc-numbers {
    color: #fff;
    background-color: #71716a;
}

.btn-clear:hover,
.btn.calc-functions:hover,
.btn.calc-numbers:hover {
    background-color: #b18473;
}


/* footer */
.belcurv-footer {
    padding: 0.85em 0;
    background: #404040;
    color: #999;
    text-align: center;
    font-size: 13px;
}

.belcurv-footer .footer-credit {
    display: inline-block;
    margin: .25em;
    vertical-align: middle;
}

.belcurv-footer .github-icon {
    display: inline-block;
    fill: rgb(255, 255, 255);
    vertical-align: middle;
}

.belcurv-footer a {
    color: white;
    text-decoration: none;
}

.belcurv-footer a:hover {
    text-decoration: underline;
}